
# Created by https://www.gitignore.io/api/netbeans,java

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


### Java ###
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# word #
*.docx

# Exercise solutions #
solution/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/demo/day1/todelete/target/
/demo/day1/restdemo/target/
/demo/day2/resterrorhandling/target/
/demo/day4/RestAssuredDemo/nbproject/
/demo/day4/RestAssuredDemo/target/
/demo/resterrorhandling/target/
/demo/restdemo/target/
/demo/RestAssuredDemo/nbproject/
/demo/RestAssuredDemo/target/
/demo/demoInClass/restdemo/target/